<!-- <form action="/users/logout" method="post">
</form> -->

<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:py-16">
    <h1
      class="mb-4 text-4xl leading-none font-extrabold tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >We invest in the world’s potential</h1>
    <p
      class="mb-8 text-lg font-normal text-gray-500 sm:px-16 lg:px-48 lg:text-xl dark:text-gray-400"
    >Here at Flowbite we focus on markets where technology, innovation, and
      capital can unlock long-term value and drive economic growth.</p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        href="/users/logout"
        class="inline-flex items-center justify-center rounded-lg bg-blue-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Log out

        <img class="pl-3" src="/images/icons/exit_icon.svg" alt="exit icon" />
      </a>
    </div>
  </div>
</section>
<!-- <a href="users/logout">
  <button
    type="submit"
    class="cursor-pointer rounded-[8px] bg-black px-4 py-2 text-white"
  >Log out</button>
</a> -->