<div class="h-full items-center justify-evenly md:flex md:flex-row-reverse">
  <!-- heading block and hero image -->

  <div class="pb-16 md:pb-0">
    <img
      class="relative -top-10 max-h-[700px] md:top-0"
      src="/images/kid-image.svg"
      alt="kid login image"
    />
    <h2 class="text-[44px] font-bold md:hidden">Welcome</h2>
    <p class="text-sm text-[#1C1C1C] md:hidden">We are glad to see you back with
      us</p>
  </div>

  <!-- heading block and hero image ended -->
  <!-- login form started -->

  <form class="w-96" id="login-form" action="/users/login" method="post">
    <h2 class="text-[44px] font-bold">Welcome</h2>
    <p class="pb-16 text-sm text-[#1C1C1C]">We are glad to see you back with us</p>
    <ul class="space-y-6">
      <li class="flex space-x-4 rounded-xl bg-[#F2F2F2] px-4 py-3.5">
        <img src="/images/icons/email.svg" alt="user icon" />
        <input
          class="h-7 w-full outline-none"
          name="email"
          type="email"
          placeholder="Enter your email"
          {{#if emailId}}
          value={{emailId}}
          {{/if}}
        />
      </li>
      <li class="flex space-x-4 rounded-xl bg-[#F2F2F2] px-4 py-3.5">
        <img src="/images/icons/lock.svg" alt="user icon" />
        <input
          class="h-7 w-full outline-none"
          name="password"
          type="password"
          placeholder="password"
        />
      </li>
      <li
        id="error-box"
        class="hidden h-10 items-center justify-center bg-red-100"
      >
        <p id="error-box-p" class="text-red-600"></p></li>

      {{#if message}}
        <li
          id="loginMessage"
          class="h-10 items-center justify-center flex bg-red-100"
        >
          <p class="text-red-600">{{message}}</p>
        </li>
      {{/if}}
      <li class="pt-4">
        <button
          class="w-full rounded-xl bg-[#1A1A1A] py-4 text-white hover:cursor-pointer hover:bg-black"
          type="submit"
        >
          Sign In
        </button>
      </li>
    </ul>
    <p class="pt-6 text-center">Don't have an account?
      <span><a class="pl-1 text-[#0F3DDE]" href="/users/register">Sign Up</a></span></p>
      <p class="pt-6 text-center">You are admin ?
        <span><a class="pl-1 text-[#0F3DDE]" href="/admin/login">Admin login</a></span>
      </p>
  </form>
  


  <!-- login form ended -->
</div>